langchain==1.3.13
langchain-community==0.4.2
langchain-classic==1.0.8
langchain-text-splitters
langchain-core
langchain-mistralai
langchain-ollama

faiss-cpu
rank-bm25
sentence-transformers
torch
transformers

pymupdf
pypdf

python-dotenv
pandas
numpy
tqdm

requests